@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --jet: #353535ff;
    --ming: #3c6e71ff;
    --white: #fffafaff;
    --gainsboro: #d9d9d9ff;
    --indigo-dye: #284b63ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--jet);
    background-color: var(--gainsboro);
}

ul {
    list-style: none;
}

header {
    background-color: var(--white);
    padding: 1rem 0;
}

h1 {
    font-size: 3rem;
}

.container {
    max-width: 70vw;
    margin: 0 auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    background-color: rgba(0,0,0, .8);

}

.overlay:target {
    display: block;
}

.wrapper {
    width: 20%;
    padding: 1rem;
    margin: 15vh auto;
    background-color: rgb(201, 192, 192);
}

input {
    width: 200px;
    font-family: inherit;
    font-size: 100%; 
}


.not-read {
    background-color: lightcoral;
    /* display: relative; */
}

.not-read::after {
    content: "Not read";
    /* display: absolute; */

}

.book-read {
    background-color: lightgreen;
}

.book-read::after {
    content: "Read";
}